[Unit]
Description=EVERSCALE node
Wants=network-online.target
After=network-online.target

[Service]
ExecStart={{ ever_node_bin_dir }}/ever_node -c {{ ever_node_config_dir }}/
ExecStop=/bin/kill -HUP $MAINPID
WorkingDirectory={{ ever_node_db_dir }}
Restart=always
User={{ ever_node_user }}
Group={{ ever_node_group }}
StandardOutput=file:{{ ever_node_log_dir }}/noded.log
StandardError=file:{{ ever_node_log_dir }}/noded.err
LimitNOFILE=infinity
LimitNPROC=infinity
LimitMEMLOCK=infinity
LimitCORE=infinity
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target